# === Виртуальное окружение ===
.venv/
venv/
ENV/

# === База данных (локальная) ===
*.db
*.sqlite3

# === Настройки PyCharm / Идея ===
.idea/
*.iws
*.iml

# === Кэш Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# === Системные файлы ===
.DS_Store
Thumbs.db
